@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    padding: 0;
    margin: 0;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    height: 100vh;
    width: 98.7vw;
}

header{
    padding: 3% 5%;
    background-color: #556b2f;
}

.navegacao{
    display: flex;
    gap: 33px;
    justify-content: center;
}

.navegacao > a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
    font-family: sans-serif;
}

main.apresentacao{
    display: flex;
    flex-direction: column;
    
}

section.conteudo{
    display: flex;
    width: 100%;
    text-align: center;
    background-color: #ffe4c4;
    padding: 60px 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.conteudo > p{
    color: #556b2f;
    font-size: 1.3rem;

}
.titulo{
    color: #556b2f;
    font-size: 2rem;
    padding: 20px;
}



div.propag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    color: #556b2f;
    padding: 50px 0;
  
}

 img{
    display: flex;
    flex-direction: row;
    width: 20%;

}

footer{
    background-color: #556b2f;
    padding: 60px 30px;
    color: #ffffff;
    text-align: center;
    font-size: 1.3rem;
    line-height: 30px;
}

/* página sobre */
.text-about{
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size: 1.5rem;
    color: #556b2f;
    padding: 50px 30px;
    text-indent: 30px;
}

/* página produtos */
div.img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

img.img-plant{
    width: 20%;
    padding: 30px 30px;
}

/* página contato */

div.text-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-size: 1.5rem;
    color: #3b3636;
    padding: 50px 30px;
    text-indent: 30px;
    text-align: center;
    gap: 30px;
}

div.contact{
    color: #556b2f;
    font-weight: bold;
}
strong{
    color: #000000;
}


@media (max-width:1200px){
    body{
        width: 100%;
    }

    div.img{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    img.img-plant{
        width: 40%;
        padding: 30px 0;
    }

    section.conteudo{
        width: auto;
    }

}